body{
    margin: 0;
    padding: 0;
} 

header{
    display: flex;
    flex-direction: row;
    background-color: #666;
    color: white;

}

ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li a {
display: block;
color: white;
text-align: center;
}